@model FinancialPlannerBD.Models.Household

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <h5>@Html.DisplayFor(model => model.Description)</h5>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Members in Household:</p>
            @foreach (var member in Model.Users)
            {
                <p>------------</p>
                <p>@member.FirstName @member.LastName</p>
                <p>------------</p>
            }
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <p>
            <a href="@Url.Action("Create","Invitations", new { houseId = Model.Id})">Invite someone!</a> |
            <a href="@Url.Action("Leave","Households", new { houseId = Model.Id})">Leave Household</a> |
            <a href="@Url.Action("Index","Home", new { houseId = Model.Id})">Go Back</a>
        </p>
    </div>
</div>

