
@{
    ViewBag.Title = "Join";
}

<h2>Enter your invite code and email to join a household:</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Code", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Code", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Code", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Join" class="btn btn-default" />
            </div>
        </div>
        <p>@Html.ActionLink("Back to List", "Index")</p>
    </div>
}